@page "/customers/{customerId}"


@using Data
@using FontesBank.Models
@using Microsoft.Extensions.Configuration
@inject NavigationManager NavigationManager
@inject IUserService _user
@inject IConfiguration _config




<h3>CustomerDetails</h3>

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card col-md-4">
        <div class="card-body">
            <h4 class="card-title"><b>@user.Name</b></h4>
            <p class="card-text"><b>E-mail: </b>@user.Email</p>
            <p class="card-text"><b>Birth Date: </b>@user.BirthDate</p>
            <p class="card-text"><b>Address: </b>@user.Address</p>
            <p class="card-text"><b>Current Balance: </b>@user.CurrentBalance</p>

        </div>

        <button type="button" class="btn btn-primary" @onclick="() => TransferMoney(user.Id)">
            Transfer Money
        </button>
    </div>



}

@code {

    UserModel user;
    List<UserModel> users;

    [Parameter]
    public string CustomerId { get; set; }

    protected override async Task OnInitializedAsync()
    {

        users = await _user.GetUsers();
        user = await _user.GetUserById(int.Parse(CustomerId));
    }

    private void TransferMoney(int id)
    {
        NavigationManager.NavigateTo("transferMoney/" + id);
    }

}


